<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<nav>
  <div><strong>🤟 Speech to Sign</strong></div>
  <div>
    {% if session.get("username") %}
      <a href="/dashboard">Converter</a>
      <a href="/how_it_works">How It Works</a>
      <a href="/logout">Logout</a>
      <span style="margin-left:15px;">👤 {{ session.get("username") }}</span>
    {% else %}
      <a href="/">Login</a>
      <a href="/signup">Sign Up</a>
    {% endif %}
  </div>
</nav>

<div class="container">
  {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
